<h1>Team</h1>

<p class="show-para"> <%= @team.name %> plays in <%= @team.location %> at <%= @team.stadium %>.

<div class="glyphs">
<%= link_to '', edit_team_path(@team), :class => "btn-xs btn-info glyphicon glyphicon-pencil show-return-button" %>
<%= link_to '', team_path, method: :delete,
                                  data: { confirm: "Are you sure?" },
                                  :class => "btn-xs btn-danger glyphicon glyphicon-trash show-return-button"%>
</div>
</p>
<h4>People think they are:</h4>
<% @tags.each do |t| %>
<p><%= t.name %> </p>
<% end %>
